body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004481;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #012d5a;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #0072ce;
    color: white;
}

.main-content {
    padding: 20px;
}

.main-content section {
    display: none;
}

.main-content section.active {
    display: block;
}

.main-content h1{
    color: #004481;

text-align: center;
}
.main-content h2 {
    color: #004481;
text-align: center;
}

footer {
    background-color: #004481;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form label {
    display: block;
    margin-top: 10px;
}

form input[type="text"], form input[type="email"], form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #004481;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0072ce;
}
.image-container {
            text-align: center; /* Centra la imagen horizontalmente */
        }
        img {
            display: block;
            margin: 0 auto;
             width: 50%; /* Ajusta el tamaño de la imagen al 50% del ancho del contenedor */
            max-width: 800px; /* Tamaño máximo de la imagen */
        }